.product-details {
    margin-top: 108px;
}

.add-to-cart-button {
    padding: 10px;
    background-color: #c53891;
    /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #c76b9a;
    /* Hover effect */
}