.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(254, 244, 244);
}

.signup-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 310px;
    height: 500px;
    position: relative;
    left: 33%;
    top: 8%;
}

.signup-container h2 {
    margin-bottom: 50px;
    color: #333;
    text-align: center;
    font-size: 40px;
    font-weight: 350;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 93.3%;
    padding: 10px;
    border: 1px solid #c6c5c5;
    background-color: white;
    border-radius: 13px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border: 2px solid #f1cbc9;
    outline: none;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
    font-weight: 300;
}


.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #ffc4c1;
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: rgb(252, 225, 225);
}

.login-link {
    margin-top: 45px;
    text-align: center;
}

.login-link-text {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.login-link-text:hover {
    color: #0056b3;
}